@media (min-width: 601px) {
    .hero {
        background: url(../img/hero.jpg) no-repeat center top;
        padding-top: 5px;
        padding-left: 10px;
        background-attachment: relative;
        background-position-x: center;
        background-position-y: -100px;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        color: white;
        transition: background-image 1s ease-in-out;
        font-family: 'Reem Kufi', sans-serif;
    }
    .mobile-only {
        display: none;
    }
    .me_name {
        position: absolute;
        font-weight: 300;
        bottom: 0px;
        left: 30px;
        font-size: 102px;
        font-family: '1786 GLC Fournier', 'Reem Kufi', sans-serif;
        margin-bottom: 0.67em;
    }
    .me_typed {
        padding-left: 5px;
        position: absolute;
        font-weight: 300;
        bottom: 40px;
        left: 15px;
        font-size: 24px;
        font-family: 'Muli', sans-serif;
        text-align: center;
        width: 528px;
    }
}

@media (max-width: 600px) {
    .hero {
        background: url(../img/hero.jpg) no-repeat center top;
        background-position-x: -140px;
        padding-top: 5px;
        padding-left: 10px;
        background-attachment: relative;
        background-position-y: center;
        width: 100%;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
    }
    .mobile-only {
        display: auto;
    }
    .mobile-top-padding {
        padding-top: 25px !important;
    }
    .mobile-centered {
        margin: auto;
    }
    .hidden-mobile {
        display: none;
    }
    .me_name {
        position: absolute;
        font-weight: 300;
        bottom: 0px;
        left: 10px;
        font-size: 60px;
        font-family: '1786 GLC Fournier', 'Reem Kufi', sans-serif;
        margin-bottom: 0.67em;
        text-align: left;
    }
    .me_typed {
        padding-left: 5px;
        position: absolute;
        font-weight: 300;
        bottom: 10px;
        left: 10px;
        font-size: 20px;
        font-family: 'Muli', sans-serif;
        text-align: left;
    }
}

.section {
    background-color: #eee;
}

.header {
    font-weight: 100;
    color: #4d4d4d;
}

.footer {
    padding-top: 20px;
    padding-bottom: 10px;
}

.card-title {
    color: #4d4d4d;
}

.pop-border {
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.collapsible-body {
    background-color: #fbfbfb;
}

.container {
    width: 85%;
}

.hero_carrot {
    position: absolute;
    bottom: 0;
    right: 50%;
}

.hero_carrot .material-icons {
    font-size: 64px;
}

.me_name {
    font-family: '1786 GLC Fournier';
}

h1 {
    font-family: 'Reem Kufi', sans-serif;
}

h2, h3, h4, h5, h6, .card-title {
    font-family: 'Reem Kufi', sans-serif;
}

.title {
    margin-top: 0;
}

.fancy-john {
    font-weight: 100;
    color: white;
    margin: 10px 10px;
    font-family: '1786 GLC Fournier';
}


/* Social */

.social {
    background: transparent;
    padding: 3px;
    padding-right: 10px;
    border-radius: 4px;
    font-size: 30px;
}

.social>a:hover {
    filter: brightness(75%);
}

* {
    font-family: 'Muli';
}

a:hover {
    text-decoration: underline;
}

.menu-sticky {
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.menu-link {
    font-size: 18px;
    color: #ddd;
}

.menu-link.active {
    color: white;
    font-weight: bold;
    font-size: 125%;
}

button#mobile-menu-open {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 200;
    /*background-color: #039be5;*/
    background: url(/assets/img/bg2.jpg);
    padding: 0 1rem;
    color: black;
}

button#mobile-menu-open>i {
  transition: opacity 1.2s ease-in-out;
  opacity: 1;
}



#mobile-menu {
    position: fixed;
    top: 10px;
    z-index: 1000;
    /*background-color: #ddd;*/
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 20px;
    color: black;
}

.mobile-menu-link {
    color: black;
    font-size: 38px;
}

.mobile-menu-link.active {
    font-weight: bold;
    font-size: 42px;
}

.menu-swoop-in {
    transform: translateY(0);
    transition: all 1.0s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.menu-swoop-out {
    transform: translateY(-120%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}


/* typed.js */

.typed a {
    color: white;
    text-decoration: underline;
}

.typed a:hover {
    color: #56c8ff;
    text-decoration: underline;
    cursor: pointer;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.full-height {
    min-height: 100%;
}


/*#toast-container {
    top: auto !important;
    bottom: 30px;
    left: 0;
    right: 0;
}*/

.loaded .loading_name {
    display: none;
}

kbd {
    padding: 0.1em 0.6em;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: monospace;
    ;
    background-color: #f7f7f7;
    color: #333;
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;
}

.copyright {}

.david-hr {
    margin-top: 2.5px;
    margin-bottom: 10px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #ddd;
}

.card-content {
    padding-top: 10px !important;
}

.david-valign {
    align-items: center;
    vertical-align: sub;
}

.hoverable {
    transition: box-shadow .25s;
    box-shadow: 0;
}

.hoverable:hover {
    transition: box-shadow 1s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col.s12 {
    padding-top: 15px;
}

.card .card-content p {
    padding-left: 10px;
    margin: 25px 0px;
}

fw100 {
    font-weight: 100;
}

fw200 {
    font-weight: 200;
}

fw300 {
    font-weight: 300;
}

fw400 {
    font-weight: 400;
}

fw500 {
    font-weight: 500;
}

fw600 {
    font-weight: 600;
}

fw700 {
    font-weight: 700;
}

fw800 {
    font-weight: 800;
}
